# {{ ansible_managed }}
# Executes commands at the start of an interactive session.
#
# Authors:
#   Sorin Ionescu <sorin.ionescu@gmail.com>
#
setopt NO_NOMATCH

# Source Prezto.
if [[ -s "${ZDOTDIR:-$HOME}/.zprezto/init.zsh" ]]; then
  source "${ZDOTDIR:-$HOME}/.zprezto/init.zsh"
fi

source ~/.zprofile

# Customize to your needs...

# Fix git update
zstyle ':prezto:module:git:info' verbose yes

unsetopt SHARE_HISTORY

function gi() { curl -L -s https://www.gitignore.io/api/$@ ;}

if [ -d /Volumes/Workspace ]; then
  alias workspace="cd /Volumes/Workspace/"
fi

export ANDROID_HOME=/usr/local/opt/android-sdk
export IDEA_JDK="/System/Library/Java/JavaVirtualMachines/1.6.0.jdk/Contents/Home"

#export JAVA_TOOL_OPTIONS="-Dapple.awt.UIElement=true"
export JAVA_HOME=`/usr/libexec/java_home`
export FUSION_APP_PATH=$HOME/Applications/VMware\ Fusion.app

if [ -e ~/.conf/zsh ]; then
  source ~/.conf/zsh
fi

flip() {
  echo;
  echo -en "( º_º）  ┬─┬   \r"; sleep .5;
  echo -en " ( º_º） ┬─┬   \r"; sleep .5;
  echo -en "  ( ºДº）┬─┬   \r"; sleep .5;
  echo -en "  (╯'Д'）╯︵⊏   \r"; sleep .5;
  echo -en "  (╯'□'）╯︵ ⊏  \r"; sleep .5;
  echo     "  (╯°□°）╯︵ ┻━┻"; sleep .5;
}

if which rbenv > /dev/null; then eval "$(rbenv init -)"; fi
