[push]
    default = matching
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    cp = cherry-pick
[mergetool]
    keepBackup = true
[user]
	email = ethan@ehdev.io
	name = Ethan Hall
